*{
  box-sizing: border-box;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
}
.card{
  width:25rem;
}

